# {{ pack_meta.name }} - {{ pack_meta.version }}

##### author - {{ pack_meta.author }}
##### tags: {{ pack_meta.keywords | join(" | ") }}

-----------------------------------------------------------------------------------------

## Table Of Content

* [Description](#markdown-header-description)
* [Configuration](#markdown-header-configuration)
* [Dependencies](#markdown-header-dependencies)
* [Actions](#markdown-header-actions)
* [CDC Command Lines](#markdown-header-cdc-command-lines)
* [Workflows](#markdown-header-workflows)
* [Rules](#markdown-header-rules)
* [Sensors](#markdown-header-sensors)
* [Triggers](#markdown-header-triggers)
* [Known issues](#markdown-header-known-issues)

-----------------------------------------------------------------------------------------

## Description

{% for desc in pack_meta.description.split('\\n') %}
#####{{desc}}
{% endfor %}

|   |   |
|---|---|
| Integration Type: | Enrichment |
| Information read: | Vulnerability data from Qualys Vulnerability Management tool for a given IP address. |
| API Supported: | API V2.0 |
| Input: | IP address details in Cli, Selection of network if required. |
| Output: | Detailed pdf report containing vulnerability data for a given IP and network details in input. |

##### Product API - [link]({{ pack_meta.product_link }})

-----------------------------------------------------------------------------------------

## Configuration

### DataStore

|Name|Type|Description|Example|Required|Secret|
| :--- | :--- | :--- | :--- | :--- | :--- |
{%- for name, attrs in pack_meta.data_store.items() %}
|{{ name }}|{{ attrs.type }}|{{ attrs.description }}|{{ attrs.example or ' ' }}|{{ attrs.required }}|{{ attrs.secret }}
{%- endfor %}

### Pack UI

|Name|Type|Description|Required|Secret|
| :--- | :--- | :--- | :--- | :--- |
{%- for name, attrs in ui_config.items() %}
|{{ name }}|{{ attrs.type }}|{{ attrs.description }}|{{ attrs.required }}|{{ attrs.secret }}
{%- endfor %}

-----------------------------------------------------------------------------------------

## Dependencies

### Systems
{% for key, value in pack_meta.system_dependencies.items() %}
* {{key}}: {{value}}
{%- endfor %}

### Packs

* {{ pack_meta.dependencies | join("\n* ") }} {# We have the first and others with the join #}

-----------------------------------------------------------------------------------------

## Actions

{% for meta in actions_meta | selectattr("is_workflow", "false") %}
##### {{ meta.name }} - {{ meta.description }}

|Name|Type|Description|Required|
| :--- | :--- | :--- | :--- |
{% for name, value in meta.parameters.items() -%}
|{{ name }}|{{ value.type }}|{{ value.description }}|{{ value.required }}|
{% endfor %}
{%- else %}
No actions
{%- endfor %}

-----------------------------------------------------------------------------------------

## CDC Command Lines

{% for meta in actions_meta | selectattr("is_cli") %}
##### {{ meta.name }} - {{ meta.description }}

|Name|Type|Description|Required|
| :--- | :--- | :--- | :--- |
{% for name, value in meta.parameters.items() -%}
|{{ name }}|{{ value.type }}|{{ value.description }}|{{ value.required }}|
{% endfor %}
{%- else %}
No CDC command lines
{%- endfor %}

-----------------------------------------------------------------------------------------

## Workflows

{% for meta in actions_meta | selectattr("is_workflow") | selectattr("is_cli", "false") %}
##### {{ meta.name }} - {{ meta.description }}

|Name|Type|Description|Required|
| :--- | :--- | :--- | :--- |
{% for name, value in meta.parameters.items() -%}
|{{ name }}|{{ value.type }}|{{ value.description }}|{{ value.required }}|
{% endfor %}
{%- else %}
No workflows
{%- endfor %}

-----------------------------------------------------------------------------------------

## Rules

{% for meta in rules_meta %}
##### {{ meta.name }} - {{ meta.description }}
{%- else %}No rules{%- endfor %}

-----------------------------------------------------------------------------------------

## Sensors

{% for meta in sensors_meta %}
##### {{ meta.name }} - {{ meta.description }}
Poll interval - {{meta.poll_interval}}s
{%- else %}No sensors{%- endfor %}

-----------------------------------------------------------------------------------------

## Triggers

{% for meta in triggers_meta %}
##### {{ meta.name }} - {{ meta.description }}
{%- else %}No triggers{%- endfor %}

-----------------------------------------------------------------------------------------

## Known issues
- Qualys API has limitation of 300 API calls Per hour with waiting time given as 300 secs(5 minutes.)
- Per execution of "/qualys launch_vm_scan –ip=[i]*" → takes around 7-10 calls
- Per execution of "/qualys download_scan_report –ip=[ip]*" → takes 2-4 calls
- Qualys has a concurrency limit for 2 instances requesting simultaneously